@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@200;400;700;900&display=swap');

html {
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

body {
  max-width: 1440px;
}

.navbar {
  height: 64px;
  background-color: #3e3c3c;
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fbfbfb;
  font-size: 17px;
}

.navbar > a {
  text-decoration: none;
}

.navbar > a:visited {
  color: inherit;
}

.navbar > ul {
  display: flex;
}

.navbar > ul > li {
  margin-right: 22px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: inherit
}

.navbar > ul > li > button{
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  font-size: 20px;
  color: inherit;
  border: none;
} 

.section-home {
  height: calc(100vh - 64px);
  max-height: 870px;
  width: 100%;
  background-color: #1c1a19;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 5%;
}

.section-home-greeting {
  min-width: 375px;
}

.section-home-greeting > h1, h2 {
  color: #F55800;
  font-family: 'Crete Round', serif;
  font-size: 52px;
  line-height: 61.5px;
}

.section-home-greeting > h2 {
  margin-bottom: 10px;
}

.section-home-greeting > h3 {
  font-size: 32px;
  line-height: 44px;
}

.section-home-greeting > p {
  font-size: 20px;
  line-height: 32px;
}

.section-home-greeting > {
  font-size: 20px;
}

.section-home > ul > li > a {
  color: #fbfbfb;
  font-size: 25px;
}

.section-home-image {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-home-image > img {
  width: 100%;
  height: auto;
  min-width: 600px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip > .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  width: 90px;
  top: 2px;
  left: 33px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 787px) {
  .section-home {
    flex-direction: column;
  }

  .section-home-greeting {
    order: 0;
  }

  .section-home > ul {
    order: 1;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
    padding-right: 10%; 
  }

  .section-home > ul > li > a {
    margin-right: 25px;
  }

  .section-home-image {
    order: 2;
  }

  .section-home-greeting {
    width: 80%;
    min-width: 375px;
    z-index: 2;
  }

  .section-home-image {
    position: relative;
  }

  .section-home-image > img {
    position: absolute;
    top: -300px;
    z-index: 1;
    opacity: .5;
  }

  .navbar {
    padding-left: 5%;
  }

  .navbar > ul > li:nth-child(-n+3) {
    display: none;
  }

}
@media screen and (min-width: 788px) {
  .section-home-greeting {
    width: 45%;
  }

  .navbar {
    padding-left: 15%;
  }

  .section-home > ul {
    width: 10%;
  }
  
  .section-home > ul > li > a {
    margin-bottom: 15px;
  }

  .navbar > ul {
    padding-right: 15%;
  }

  .navbar > ul > li:nth-of-type(4){
    display: none;
  } 
  /* .section-home-greeting {
    top: 30%;
    left: 15%;
  }
  .section-home > ul {
    left: 5%;
    top: 34%;
  } */
}
@media screen and (max-width: 1138px) {}
@media screen and (min-width: 788px) and (max-width: 1145px) {}